.DS_Store
__pycache__/
*.py[cod]
*$py.class
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
build/
*/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
results/
demonstration plots/*.png
